* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
    background-image: url("images/background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.page {
  display: none;
  text-align: center;
  padding: 50px;
}

.page h1 {
  color: #2c5f2d;
}



#home {
  display: block; /* Home visible by default */
}

}
html {
  scroll-behavior: smooth;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: rgba(0,0,0,0.3);
  color: #fff;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.card {
  background: rgba(255,255,255,0.95);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.primary-btn {
  background: #667eea;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.secondary-btn {
  background: transparent;
  border: 2px solid #667eea;
  padding: 12px 30px;
  border-radius: 10px;
  cursor: pointer;
}

.primary-btn:hover,
.secondary-btn:hover {
  transform: translateY(-2px);
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  margin: 30px 0;
}

.category-btn {
  padding: 20px;
  border-radius: 14px;
  border: 2px solid #667eea;
  background: #f4f6ff;
  cursor: pointer;
}

.category-btn.active {
  background: #667eea;
  color: #fff;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.progress {
  height: 8px;
  background: #ddd;
  border-radius: 10px;
  margin-bottom: 25px;
}

#progress-bar {
  height: 100%;
  width: 0;
  background: #667eea;
  border-radius: 10px;
}

#options-container button {
  width: 100%;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 2px solid #ddd;
  background: #fff;
  cursor: pointer;
}

#options-container button.correct {
  background: #d4edda;
  border-color: #28a745;
}

#options-container button.incorrect {
  background: #f8d7da;
  border-color: #dc3545;
}

.score-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #667eea;
  color: #fff;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.success {
  background: #d4edda;
  padding: 10px;
  border-radius: 10px;
  margin: 15px 0;
}

.result-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;

}




